<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>

    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>

        <!-- <h1><a href="best.html">Welcome to Denali Center</a></h1>

        <button class="button"><a href="user-login.html">Take me to the store!</a></button> -->
        <div class="jumbotron m-5" style="width: 90%; size: 100px 100px; opacity: 90%;">
            <h2 class="display-2 m-5" style="display: contents; font-size: 50px;">Best Price Guarantee!</h2>
            <p class="lead m-4" style="text-align: center;">We guarantee for best prices on the market! If proven
                otherwise we will refund you with the difference!</p>
            <hr class="my-4">
            <a class="btn btn-outline-dark btn-lg " href="/products.html" role="button">CHECKOUT our store!</a>
        </div>
        <div class="jumbotron m-5" style="width: 90%; size: 100px 100px; opacity: 90%">
            <h2 class="display-2 m-5" style="display: contents;font-size: 50px;">Solution expert advice!</h2>
            <p class="lead m-4" style="text-align: center;">If you need someone to design your graphics or artwork your
                ideas ready for production just let us know, you’ve come to the right place. Here at Denali we have our
                own in-house design studio ready to help you.</p>
            <hr class="my-4">
            <a class="btn btn-outline-dark btn-lg " href="/services.html" role="button">See what servicies we
                provide!</a>
        </div>
        <div class="jumbotron m-5" style="width: 90%; size: 100px 100px; opacity: 90%">
            <h2 class="display-2 m-5" style="display: contents;font-size: 50px;">COVID-19 SAFE!</h2>
            <p class="lead m-4" style="text-align: center;">Following the last Government guidelines we have reopened
                our store and to guarantee the safety of our staff and customers we have put in
                place all the necessary measures. </p>
            <hr class="my-4">
            
        </div>


    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>



</body>

</html>