<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>

    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>
        <!-- 
<h1><a href="best.html">Welcome to Denali Center</a></h1>

<button class="button"><a href="user-login.html">Take me to the store!</a></button> -->

        <div class="card m-5" style="width:40%; display: inline-block; opacity: 95%;">
            <img src="/images/location1.jpg" class="card-img-top width: 60%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Store name</h5>
                <p class="card-text">Store working hours!</p>
                <p class="card-text">Contact number</p>
                <p class="card-text">Address</p>
            </div>
        </div>
        <div class="card m-5" style="width:44%; display: inline-block; opacity: 95%">
            <img src="/images/location2.jpg" class="card-img-top width: 60%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Store name</h5>
                <p class="card-text">Store working hours!</p>
                <p class="card-text">Contact number</p>
                <p class="card-text">Address</p>
            </div>
        </div>
        
        

    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>



</body>

</html>