<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>

    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>
        <!-- 
        <h1><a href="best.html">Welcome to Denali Center</a></h1>

        <button class="button"><a href="user-login.html">Take me to the store!</a></button> -->


        <div class="card m-5" style="width:25%; display: inline-block; opacity: 90%">
            <img src="/images/galery/imageMain.jpg" class="card-img-top width: 60%" alt="#">
            <div class="card-body">
                <a href="/images/galery/imageMain.jpg" class="card-link">View</a>
            </div>
        </div>
        <div class="card m-5" style="width:22%; display: inline-block; opacity: 90%">
            <img src="/images/galery/image1.jpg" class="card-img-top width: 60%" alt="#">
            <div class="card-body">
                <a href="/images/galery/image1.jpg" class="card-link">View</a>
            </div>
        </div>
        <div class="card m-5" style="width:33.7%; display: inline-block; opacity: 90%">
            <img src="/images/galery/image2.jpg" class="card-img-top width: 60%" alt="#">
            <div class="card-body">
                <a href="/images/galery/image2.jpg" class="card-link">View</a>
            </div>
        </div>
        <div class="card m-5" style="width:93.7%; display: inline-block; opacity: 90%">
            <img src="/images/galery/image3.jpg" class="card-img-top width: 60%" alt="#">
            <div class="card-body">
                <a href="/images/galery/image3.jpg" class="card-link">View</a>
            </div>
        </div>

    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</body>

</html>