<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>


    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>
        <div class="card m-5" style="width:32%; display: inline-block;">
            <img src="/images/news.jpg" class="card-img-top width: 60%" alt="#">
        
        </div>

        <!-- <h1><a href="best.html">Welcome to Denali Center</a></h1>

        <button class="button"><a href="user-login.html">Take me to the store!</a></button> -->



        <div class="card m-5" style="display: inline-block;width:60%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:60%; opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:60%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:60%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:60%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:60%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>

    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>



</body>

</html>