<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>

    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>
        <!-- 
        <h1><a href="best.html">Welcome to Denali Center</a></h1>

        <button class="button"><a href="user-login.html">Take me to the store!</a></button> -->
        <div class="card m-5" style="width: 25%;display: inline-block; opacity: 95%;">
            <img src="/images/products/advertising-pics/business-card.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Business Cards</h5>
                <p class="card-text">Excellent quality business cards for your perfect presentation!</p>
                <p class="card-text">Price for 100 pcs. - .... GBP</p>
                <a href="#" class="btn btn-success">Add to cart</a>
                <a href="#" class="btn btn-outline-danger">Delete product</a>
            </div>
        </div>
        <div class="card m-5" style="width: 20.3%;display: inline-block; opacity: 95%;">
            <img src="/images/products/advertising-pics/flyers.jpg" class="card-img-top width: 40%" alt="...">
            <div class="card-body">
                <h5 class="card-title">Flyers</h5>
                <p class="card-text">Excellent quality flyers for your perfect presentation!</p>
                <p class="card-text">Price for 1000 pcs. - .... GBP</p>
                <a href="#" class="btn btn-success">Add to cart</a>
                <a href="#" class="btn btn-outline-danger">Delete product</a>
            </div>
        </div>

    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</body>

</html>