<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>

    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>
        <!-- 
        <h1><a href="best.html">Welcome to Denali Center</a></h1>

        <button class="button"><a href="user-login.html">Take me to the store!</a></button> -->
        <div class="card m-5 text-center" style="width: 19.1%;display: inline-block; opacity: 95%;">
            <img src="/images/products/writing.png" class="card-img-top" alt="#">
            <div class="card-body">
                <h5 class="card-title">Pens and other writing goods</h5>
                <a href="products-office-supplies-pens.html" class="btn btn-success">Continue</a>  
            </div>
        </div>
        <div class="card m-5 text-center" style="width: 20.3%;display: inline-block; opacity: 95%;">
            <img src="/images/products/papers.jpg" class="card-img-top width: 40%" alt="...">
            <div class="card-body">
                <h5 class="card-title">Paper products</h5>
                <a href="products-office-supplies-papers.html" class="btn btn-success">Continue</a>
            </div>
        </div>

    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</body>

</html>