<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>

    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>

        <!-- <h1><a href="best.html">Welcome to Denali Center</a></h1>

        <button class="button"><a href="user-login.html">Take me to the store!</a></button> -->

        <div class="card m-5" style="display: inline-block;width:40%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">Promotion 1</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>

            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:40%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">Promotion 2</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>

            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:40%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">Promotion 3</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>

            </div>
        </div>
        <div class="card m-5" style="display: inline-block;width:40%;opacity: 90%;">
            <div class="card-body">
                <h5 class="card-title">Promotion 4</h5>
                <p class="card-text" style="text-align: justify;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Doloremque esse, eligendi accusamus minima mollitia laudantium architecto obcaecati? Sapiente
                    iure incidunt illum debitis optio porro, dolorem repellat, explicabo totam odio reiciendis!</p>

            </div>
        </div>

        <div style="margin-left: 540px;"><a href="promotions-info.html" class="btn btn-outline-dark btn-lg"
                style="position:fixed">Read more about all promotions here</a>
        </div>


    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>



</body>

</html>