<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>

<head>
    <th:block th:include="~{/fragments/header}"></th:block>
</head>

<body>

    <header>
        <th:block th:include="~{/fragments/nav}"></th:block>
    </header>

    <main>
        <!-- 
        <h1><a href="best.html">Welcome to Denali Center</a></h1>

        <button class="button"><a href="user-login.html">Take me to the store!</a></button> -->

        <div class="card m-5" style="width:25%; display: inline-block; opacity: 95%;">
            <img src="/images/services/business-card.jpg" class="card-img-top width: 40%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Business cards</h5>
                <p class="card-title" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit dolore fuga asperiores odit. Veritatis inventore possimus, quasi aliquam doloremque,
                    repudiandae ea dolorem ipsam cupiditate qui fugiat impedit rerum. Itaque, accusamus?</p>
            </div>
        </div>
        <div class="card m-5" style="width:25%; display: inline-block; opacity: 95%;">
            <img src="/images/services/flyers.jpg" class="card-img-top width: 40%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Fluyers</h5>
                <p class="card-title" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit dolore fuga asperiores odit. Veritatis inventore possimus, quasi aliquam doloremque,
                    repudiandae ea dolorem ipsam cupiditate qui fugiat impedit rerum. Itaque, accusamus?</p>
            </div>
        </div>
        <div class="card m-5" style="width:25%; display: inline-block; opacity: 95%;">
            <img src="/images/services/instalation-service.jpg" class="card-img-top width: 40%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Installation services</h5>
                <p class="card-title" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit dolore fuga asperiores odit. Veritatis inventore possimus, quasi aliquam doloremque,
                    repudiandae ea dolorem ipsam cupiditate qui fugiat impedit rerum. Itaque, accusamus?</p>
            </div>
        </div>
        <div class="card m-5" style="width:25%; display: inline-block; opacity: 95%;">
            <img src="/images/services/vinyl-decal-lettering.jpg" class="card-img-top width: 40%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Vinyl Decals and Lettering</h5>
                <p class="card-title" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit dolore fuga asperiores odit. Veritatis inventore possimus, quasi aliquam doloremque,
                    repudiandae ea dolorem ipsam cupiditate qui fugiat impedit rerum. Itaque, accusamus?</p>
            </div>
        </div>
        <div class="card m-5" style="width:25%; display: inline-block; opacity: 95%;">
            <img src="/images/services/window-stickers.jpg" class="card-img-top width: 40%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Window stickers</h5>
                <p class="card-title" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit dolore fuga asperiores odit. Veritatis inventore possimus, quasi aliquam doloremque,
                    repudiandae ea dolorem ipsam cupiditate qui fugiat impedit rerum. Itaque, accusamus?</p>
            </div>
        </div>
        <div class="card m-5" style="width:21.6%; display: inline-block; opacity: 95%;">
            <img src="/images/products/office-supplies.png" class="card-img-top width: 40%" alt="#">
            <div class="card-body">
                <h5 class="card-title">Office supplies</h5>
                <p class="card-title" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Fugit dolore fuga asperiores odit. Veritatis inventore possimus, quasi aliquam doloremque,
                    repudiandae ea dolorem ipsam cupiditate qui fugiat impedit rerum. Itaque, accusamus?</p>
            </div>
        </div>

    </main>

    <footer>
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>



</body>

</html>