<th:block>

    <section class="navigation">
        <p><a href="index.html">Denali Center</a></p>
        <nav>
            <ul>
                <li><a href="services.html">Services</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="promotions.html">Promotions</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="galery.html">Galery</a></li>
                <li><a href="about-us.html">About us</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="#">
                    <ul>
                        <li><a href="https://www.facebook.com/vankata2001/"><i
                                class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://www.instagram.com/ivan.petkov219/"><i
                                class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></i></a></li>
                    </ul>
                </a></li>
            </ul>
        </nav>
    </section>
</th:block>