<th:block>

    <section class="navigation">
        <p><a href="/templates/index.html">Denali Center</a></p>
        <nav>
            <ul>
                <li><a href="/templates/services.html">Services</a></li>
                <li><a href="/templates/products.html">Products</a></li>
                <li><a href="/templates/promotions.html">Promotions</a></li>
                <li><a href="/templates/news.html">News</a></li>
                <li><a href="/templates/galery.html">Galery</a></li>
                <li><a href="/templates/about-us.html">About us</a></li>
                <li><a href="/templates/contacts.html">Contacts</a></li>
                <li><a href="#">
                    <ul>
                        <li><a href="https://www.facebook.com/vankata2001/"><i
                                class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://www.instagram.com/ivan.petkov219/"><i
                                class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </a></li>
            </ul>
        </nav>
    </section>
</th:block>